@model Chillisoft.LendingLibrary.Web.Models.BorrowerItemViewModel

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/chosen.jquery.js"></script>
<h2>Create</h2>

@Html.HiddenFor(model => model.ItemId)

@Html.HiddenFor(model => model.BorrowerId)
@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
   

        <div class="form-group">
            @Html.LabelFor(model => model.ItemId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ItemId, Model.ItemSelectListItems, null, htmlAttributes: new { @class = "chosen-select-width" })
               
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.BorrowerId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BorrowerId, Model.BorrowersSelectListItems, new {htmlAttributes = new {@class = "form-control"}})
              
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DateBorrowed, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-5">
                @Html.EditorFor(model => model.DateBorrowed, new {htmlAttributes = new {@class = "datefield"}})
         
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
                $(".datefield").datepicker({ dateFormat: 'yy-mm-dd', changeYear: true });
            });
    </script>


}
    
<script type="text/javascript">


         var config = {
             '.chosen-select': {},
             '.chosen-select-deselect': { allow_single_deselect: true },
             '.chosen-select-no-single': { disable_search_threshold: 10 },
             '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
             '.chosen-select-width': { width: "30%"}//,
             //'.chosen-search': {disable_search: false}
         }
         for (var selector in config) {
             $(selector).chosen(config[selector]);
         }

</script> 