@model IEnumerable<Chillisoft.LendingLibrary.Web.Models.BorrowerItemRowViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.BorrowerTitleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowerFirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BorrowerSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowerContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBorrowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReturned)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       <td>
            @Html.DisplayFor(modelItem => item.BorrowerTitleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBorrowed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReturned)
        </td>

       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
