@model IEnumerable<Chillisoft.LendingLibrary.Web.Models.ItemViewModel>

@{
    ViewBag.Title = "Items";
}
<h2 align="center"> Items</h2>
<p style="font-size: 20px">
    @Html.ActionLink("Create New", "Create")
</p>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    <p>
                        <button type="button" class="btn btn-default btn-sm" onclick="location.href = '@Url.Action("Edit", new {id = item.Id})'">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <button type="button" class="btn btn-default btn-sm" onclick="location.href = '@Url.Action("Delete", new {id = item.Id})'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                    </p>

                </td>
            </tr>
        }

    </table>
    </div>