@model IEnumerable<Chillisoft.LendingLibrary.Web.Models.BorrowerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2 align="center"> Borrowers</h2>

<p style="font-size: 20px">
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <tr  style="font-size: 18px">
            <th>
                Profile Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Action( "show", "image", new { id = item.Id })" style="width: 100px; height: 50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>

                    <p>
                        <button type="button" class="btn btn-default btn-sm" onclick="location.href = '@Url.Action("Edit", new {id = item.Id})'">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <button type="button" class="btn btn-default btn-sm" onclick="location.href = '@Url.Action("Delete", new {id = item.Id})'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                    </p>

                </td>
            </tr>
        }

    </table>
    </div>