@model IEnumerable<Chillisoft.LendingLibrary.Web.Models.BorrowerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>View Borrowers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Profile Picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th> 
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Action( "show", "image", new { id = item.Id })" style="width: 100px; height: 50px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
